*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  --main-color: orange;
  --main-background-color: #1e1b17;
  --accent-color: #d46e17;
  --link-color: inherit;
  --duration: 300ms;
  --radius: 1rem;
}
body {
  margin: 0px;
}
button,
select {
  text-transform: none;
}
a {
  color: var(--link-color);
  text-decoration: none;
  opacity: 1;
  transition: all;
  transition-duration: var(--duration);
}
a:hover {
  cursor: pointer;
  opacity: 0.7;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
button {
  border-radius: 0px;
  border: 0;
  background-color: transparent;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

label {
  display: inline-block;
}
button:focus:not(:focus-visible) {
  outline: 0px;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
input,
button,
select {
  margin: 0px;
}
.d-block {
  display: block;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.z-2 {
  z-index: 2;
}
.gap-1 {
  gap: 0.25rem;
}
.text-align-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  width: 100%;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.w-100 {
  width: 100%;
}
.w-100dvh {
  width: 100dvh;
}
.w-50 {
  width: 50%;
}
.h-50 {
  height: 50%;
}
.h-100 {
  height: 100%;
}
.h-100dvh {
  height: 100dvh;
}
