@import url(./reboot.css);
@font-face {
  font-family: "Orenza";
  src: url(./assets/fonts/OrenzaBoldRegular.otf);
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/RobotoFlex.ttf);
  font-display: swap;
}
aside {
  z-index: 2;
  padding: 0 5px;
  box-shadow: 5px 0 5px #00000013;
  background-color: rgb(253, 249, 242);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border: 1px solid var(--accent-color);
}

body {
  background-color: rgb(247, 247, 247);
}

.font-family-main {
  font-family: "Orenza";
}
.font-family-secondary {
  font-family: "Roboto";
}
.transition-all {
  transition: color;
  transition-duration: var(--duration);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Roboto";
}
aside div a {
  font-family: "Orenza";
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50px;
}

.text-underline {
  /* justify-content: center; */
  text-decoration: underline;
}

aside div a:hover {
  color: var(--accent-color);
}

.cursor-pointer {
  cursor: pointer;
}

#random-meal {
  background-color: var(--accent-color);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: var(--radius);
  width: fit-content;
  padding: 10px;
  transition: all;
  transition: var(--duration);
}

.hero-section {
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./assets/images/backgroundImage-1024x1024.jpg);
  background-position: center center;
  background-size: cover;
  /* backdrop-filter: blur(5px); */
  filter: blur(10px);
  z-index: -1;
  opacity: 0.2;
}

#random-meal:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}
svg.lucide-dices {
  transition: all;
  transition-duration: var(--accent-color);
  position: relative;
}
#random-meal:hover .lucide-dices {
  color: var(--accent-color);
  animation: shake 2s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

.hero-heading {
  -webkit-text-stroke: 1px var(--accent-color);
  /* border:1px solid ; */
  color: white;
  font-size: 4rem;
  display: inline-block;
}

.mealComponents__figure {
  width: 100%;
  border-radius: var(--radius);
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 16px;
  margin: 4px;
  font-family: "Inter" serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #4b5563;

  background-color: white;
  border: 1px solid var(--accent-color);
  border-radius: var(--radius);

  transition: all 0.2s ease-in-out;
}

.tag:hover {
  background-color: var(--accent-color);
  color: white;
  cursor: default;
}

.meal_tags div:nth-child(odd) {
  background-color: rgb(255, 141, 100);
  color: white;
  /* border: 1px solid var(--accent-color); */
}

.border-round {
  border-radius: var(--radius);
}

.searchComponent__button {
  border: 1px solid var(--accent-color);
  padding: 2px;
  border-radius: var(--radius);
  background-color: white;
  transition: all;
  transition-duration: 300ms;
}
.searchComponent__button:hover {
  /* border-radius: var(--radius); */
  background-color: var(--accent-color);
  color: white;
}
.searchComponent__search_section {
  background-color: #fdf9f2;
  padding: 10px;
}

select#selectOption {
  border-radius: var(--radius);
  border: 1px solid var(--accent-color);
  padding: 3px;
}
input#searchInput {
  border-radius: var(--radius);
  border: 1px solid var(--accent-color);
  padding: 3px;
}

.card {
  max-width: 384px; /* max-w-sm */
  padding: 24px;
  background-color: #fdf9f2;
  border: 1px solid gray;
  border-radius: var(--radius);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
  display: block;
}

.card-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  color: black;
  text-decoration: none;
}

.card-description {
  margin-bottom: 24px;
  color: gray;
  line-height: 1.5;
}

.card-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: var(--radius);
  transition: all 0.2s ease-in-out;
}

.card-button:hover {
  background-color: var(--accent-color);
  color: white;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.container {
  background-color: #fdf9f227;
}
